[run]
omit =
    sqlxport/formats/base.py
    sqlxport/cli/__init__.py
    sqlxport/core/__init__.py
    sqlxport/ddl/__init__.py
    sqlxport/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
