[run]
omit =
    sql2data/formats/base.py
    sql2data/cli/__init__.py
    sql2data/core/__init__.py
    sql2data/ddl/__init__.py
    sql2data/__init__.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__.:
    @abstractmethod
