include README.md
include LICENSE

recursive-include sqlxport/formats *.py
recursive-include sqlxport/ddl *.py
recursive-include sqlxport/core *.py
recursive-include sqlxport/cli *.py
recursive-include sqlxport *.py
